<h1>Latero Labs Interview App</h1>

<h3>List of Interviews</h3>

<%= link_to "New Interview", new_interview_path %>

<table>
  <tr>
    <th>Name</th>
  </tr>

  <% @interviews.each do |interview| %>
    <tr>
      <td><%= interview.name %></td>
      <td><%= link_to "View", interview_path(interview) %>  |  </td>
      <td><%= link_to "Edit", edit_interview_path(interview) %>  |  </td> 
      <td><%= link_to "Delete", interview_path(interview), 
        method: :delete, 
        data: { confirm: "Are you sure you want to delete this Interview?" } %></td>
    </tr>
  <% end %>
</table>
