<h1>Interview</h1>
<p>
  <strong>Name:</strong>
  <%= @interview.name %>
</p>

<p><strong>Skills</strong></p>
  <% if @interview.test_skills.any? %>
    <table>
      <% @interview.test_skills.each do |test_skill| %>
        <tr>
          <td><%= test_skill.name %></td>
          <td><%= link_to "Edit", edit_interview_test_skill_path(@interview, test_skill) %></td>
          <td><%= link_to "Delete", interview_test_skill_path(@interview, test_skill),
            method: :delete,
            data: { confirm: "Are you sure you want to delete this Test Skill?" } %></td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <p><strong>No Test Skills to show. Click "Add Test Skill" below to add Test Skills to this interview</strong></p>
  <% end %>

<br>
<%= link_to "Back", interviews_path %>
<%= link_to "Edit", edit_interview_path(@interview) %>
<%= link_to "Add Test Skill", new_interview_test_skill_path(@interview) %>