<h2><%= @interview.name %> Results</h2>

<table>
  <% @interview.test_results.each do |test_result| %>
    <tr>
      <th>Candidate Name</th>
      <% test_result.test_scores.each do |test_score| %>
        <th><%= test_score.test_skill.name %></th>
      <% end %>
    </tr>

    <tr>
      <td><%= test_result.candidate_name %></td>
      <% test_result.test_scores.each do |test_score| %>
        <td><%= test_score.score %></td>
      <% end %>
      <td><%= link_to "Edit", edit_interview_test_result_path(@interview, test_result) %></td>
      <td><%= link_to "Delete", interview_test_result_path(@interview, test_result),
        method: :delete,
        data: { confirm: "Are you sure you want to delete this Test Result?" } %></td>
    </tr>
  <% end %>
</table>

<br>
<%= link_to "Go to Interviews", interviews_path %>