<h2>Add a New Test Result</h2>


<%= form_for :test_result, url: interview_test_results_path do |f| %>
  <p>
    <%= f.label "Candidate Name: " %>
    <%= f.text_field :candidate_name %>
  </p>

  <%= @interview.test_skills.each do |test_skill| %>
    <p>
      <%= f.label test_skill.name %>
    </p>
  <% end %>

<% end %>